*{
    /*To adapt it for mobile*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Covered By Your Grace', cursive;
}

body{
    /*background: rgb(25, 122, 85);*/
    background: url('mainbackground.gif') no-repeat;
    height: 100%;
    max-height: 100%;
    background-size: 100% 2000px;
}

#donation{
    position: absolute;
    font-size: 20px;
    padding: 10px;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(201, 124, 53);
    text-shadow: 2px 2px #000;
}

#donateButton{
    height: 35px;
    width: 55px;
    background-color: crimson;
    border: 2px solid crimson;
    color: white;
}

#donateButton:hover{
    background-color: rgb(218, 79, 137);
    cursor: pointer;
}

#canvas1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    height: 90%;
    width: 90%;
    /*To adapt it for mobile*/
    max-width: 100%;
    max-height: 100%;
}

#playerImage, #backgroundImage, #enemyImage, #scoreboard{
    display: none;
}

#fullScreenButton{
    position: absolute;
    font-size: 15px;
    padding: 10px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-shadow: 2px 2px #000;
    background-color: rgb(41, 107, 85);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

#fullScreenButton{
    cursor: pointer;
}

#forward{
    position: absolute;
    font-size: 30px;
    padding: 10px;
    top: 50%;
    right: 10%;
    transform: rotate(10deg);
    height: 60px;
    width: 60px;
    color: #fff;
    text-shadow: 2px 2px #000;
    background-color: rgb(91, 218, 175);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
}

#forward:hover{
    background-color: rgb(197, 66, 209);
    cursor: pointer;
}

#backward{
    position: absolute;
    font-size: 30px;
    padding: 10px;
    top: 50%;
    left: 10%;
    transform: rotate(20deg);
    height: 60px;
    width: 60px;
    color: #fff;
    text-shadow: 2px 2px #000;
    background-color: rgb(91, 218, 175);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
}

#backward:hover{
    background-color: rgb(197, 66, 209);
    cursor: pointer;
}

#playChoice{
    position: absolute;
    font-size: 20px;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 55px;
    width: 100px;
    color: #fff;
    text-shadow: 2px 2px #000;
    background-color: rgb(41, 107, 85);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

#playChoice:hover{
    background-color: rgb(22, 145, 150);
    cursor: pointer;
}

#startButton{
    position: absolute;
    font-size: 20px;
    padding: 10px;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 100px;
    color: #fff;
    text-shadow: 2px 2px #000;
    background-color: rgb(41, 107, 85);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    visibility: hidden;
    margin-bottom: 10px;
}

#startButton:hover{
    background-color: rgb(22, 145, 150);
    cursor: pointer;
}

#homeButton{
    position: absolute;
    font-size: 20px;
    padding: 10px;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 100px;
    color: #fff;
    text-shadow: 2px 2px #000;
    background-color: rgb(107, 41, 93);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    visibility: hidden;
}

#homeButton:hover{
    background-color: rgb(209, 99, 172);
    cursor: pointer;
}

#policy{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}